<pre data-testid="api-data-json">{{ data() | json }}</pre>
<hr>
<div class="form-wrapper" data-testid="api-data-form">
  <form [formGroup]="form">
    <div class="form-row f-row">
      <mat-checkbox formControlName="a" data-testid="field-a">Field "a"</mat-checkbox>
      <mat-checkbox formControlName="j" data-testid="field-j">Field "j"</mat-checkbox>
    </div>
    <div class="form-row mb-0">
      <mat-form-field appearance="outline">
        <mat-label>Field "b"</mat-label>
        <input type="number" matInput placeholder="Number" formControlName="b" data-testid="field-b">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Field "c"</mat-label>
        <input type="text" matInput placeholder="String" formControlName="c" data-testid="field-c">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Field "e"</mat-label>
        <input type="text" matInput placeholder="String" formControlName="e" data-testid="field-e">
      </mat-form-field>
    </div>
    <div class="form-row mb-0">
      <mat-form-field appearance="outline">
        <mat-label>Field "i"</mat-label>
        <input type="text" matInput placeholder="String" formControlName="i" data-testid="field-i">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Field "k"</mat-label>
        <input type="number" matInput placeholder="Number" formControlName="k" data-testid="field-k">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Field "l"</mat-label>
        <input type="text" matInput placeholder="String" formControlName="l" data-testid="field-l">
      </mat-form-field>
    </div>
  </form>
</div>
