@if (form) {
  <div class="form-wrapper" data-testid="api-data-form">
    <form [formGroup]="form">
      @for (formRow of formRows; track formRow.key) {
        @if (formRow.type === 'text' || formRow.type === 'number') {
          <div class="form-row mb-0">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Field "{{ formRow.key }}"</mat-label>
              <input
                matInput
                type="{{ formRow.type }}"
                placeholder="{{ formRow.type }}"
                formControlName="{{ formRow.key }}"
                [attr.data-testid]="'field-' + formRow.key">
            </mat-form-field>
          </div>
        }
        @else if (formRow.type === 'checkbox') {
          <div class="form-row">
            <mat-checkbox
              formControlName="{{ formRow.key }}"
              [attr.data-testid]="'field-' + formRow.key"
            >
              Field "{{ formRow.key }}"
            </mat-checkbox>
          </div>
        }
        @else {
          <p>Unsupported Input Type!</p>
        }
      }
    </form>
  </div>
}
