.form-wrapper {
  padding: 1rem 0;

  .form-row {
    margin-bottom: 1rem;

    &.mb-0 {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 715px) {
  .form-wrapper .form-row  {
    flex-direction: column;
  }
}
