.form-wrapper {
  padding: 1rem;

  .form-row {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    &.mb-0 {
      margin-bottom: 0;
    }
  }

  .f-row{
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 715px) {
  .form-wrapper .form-row  {
    flex-direction: column;
  }
}
